/* Style.css for Index*/
body{
    padding: 0;
    margin: 0;
    background-color: rgba(80, 217, 255, 0.297);
}
/* Change placeholder to a better image and upload files*/
header{ 
    background-image: url(https://wallpapercat.com/w/full/4/c/9/106937-3840x2160-desktop-4k-maldives-wallpaper.jpg);
    color: aquamarine;
    padding: 10px;
}
nav{
    padding-left: 1400px;
    font-size: large;
}
a{
    text-decoration: none;
    color: white;
}
a:hover {
    transition: .8s;
    color: aquamarine;

  }
hr{
    margin: 0;
    padding: 0;
    height: 1px;
    border-width: 0px;
    background-color: rgba(255, 255, 255, 0.208);
    width: 100%;
    position: fixed;
}