
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Top Bar*/

.top-bar {
    background-color: #1a1a2e;
    color: white;
    padding: 10px 20px;
    display: flex;

    align-items: center;
    
}

.contact-info {
    display: flex;
    align-items: center;
}

.contact-info div {
    margin-right: 20px;
    white-space: nowrap;
}

.main-header {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #83e90f;
    display: flex;
    align-items: center;
}


.nav-menu {
    display: flex;
    align-items: center;
}

.nav-menu a {
    color: white;
    margin: 0 15px;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-menu a:hover {
    color: #83e90f;
}


/*reviews*/

#reviews {
    text-align: center;
    padding: 50px 20px;
}

#reviews h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px; 
    margin-left: 20px;  
    margin-right: 20px;
}

/* Grid Contained gallery*/
.gallery-grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px; 
    margin-left: 20px;  
    margin-right: 20px;
}
/*about*/

#about {
    text-align: center;
    padding: 50px 20px;
}

#about h1 {
    font-size: 2.5em;
    margin-bottom: 30px;
}


.card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-10px);
}

.card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.card h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: black
}

.card p {
    font-size: 1em;
    color: #555;
}

/* Gallery Cards */

.gcard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 500px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.gcard:hover {
    transform: translateY(-10px);
}

.gcard img {
    width: 500px;
    height: 300px;
}

.gcard h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: black
}

.gcard p {
    font-size: 1em;
    color: #555;
}

/*Tourism differences*/

.tcard {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.tcard:hover {
    transform: translateY(-10px);
}

.tcard img {
    width: 200px;
    height: 150px;
    border-radius: 75%;
    margin-bottom: 15px;
}

.tcard h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
    color: black
}

.tcard p {
    font-size: 1em;
    color: #555;
}

footer {
    background-color: rgba(0, 0, 0, 0.948);
    color: #ffffff;
    text-align: left;
    padding: 0px;
    bottom : 0;
    width: 100%;
    position: static;
}


/* Transparent Navigation Bar */
.navbar {
   /*  position: fixed;*/
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 0;
    text-align: center;
    z-index: 1000;
}



/* Contact Section Styles */
#contact-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 50px;
    gap: 20px;
}

.contact-row {
    display: flex;
    justify-content: space-between; 
    gap: 20px;
}

/* Get In Touch Section */
.contact-info1 {
    width: 30%;
}

.contact-info h2 {
    margin-bottom: 15px;
}

.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.contact-icon {
    
    padding: 10px;
    border-radius: 5px;
    margin-right: 10px;
}

/* Google Map */
.google-map {
    width: 30%;
}

.google-map iframe {
    border: 0;
    border-radius: 10px;
}

/* Contact Form */
.contact-form {
    width: 40%;
}

.contact-form h2 {
    margin-bottom: 20px;
}

.contact-form label {
    display: block;
    margin-bottom: 5px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.contact-form button {
    background-color: #8DC63F;
    color: white;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.contact-form button:hover {
    background-color: #7ca534;
}



.flavor-text{
    color: black;
    font-size: 17px;
    text-align: center;
    font-weight: bold;
    
}
